.app-input-group {
    width: 100%;
    position: relative;
}

.app-input-group input {
    height: 25px;
    width: 100%;
    border-radius: 32px;
    padding: 7px 15px;
    font-size: 15px;
    border: 2px solid #dedede;
}

.app-input-group input:focus {
    outline: none;
    border: 2px solid #458fd7;
    box-shadow: #0a61b4 0 0 2px 0;
}

.app-input-group.sm input {
    height: 32px;
    font-size: 15px;
}

.app-input-group.md input {
    height: 36px;
    font-size: 16px;
}

.app-input-group.sm .app-input-search-icon {
    position: absolute;
    top: 18px;
    left: 15px;
}

.app-input-group.md .app-input-search-icon {
    position: absolute;
    top: 22px;
    left: 15px;
}

.app-input-group.prefix input {
    padding: 10px 35px;
}

.app-input-group.md.prefix input {
    padding: 10px 35px;
}

.app-input-group.prefix .app-input-prefix {
    position: absolute;
    top: 18px;
    left: 15px;
}

.app-input-group.error input{
    border-color: #d57676;
}

.app-input-group.error .input-error-msg {
    padding-left: 15px;
    color: #d57676;
}